<nav class="navbar navbar-inverse navbar-static-top prods">
      <div class="container">
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li class="active"><h1>New Product</h1></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<div class="container prods">
<%= render 'form' %>

<div class="col-md-12">
<%= link_to 'Back', products_path, :class => 'btn btn-info' %>
</div>
</div>